= render "header"
.wrapper
  = render "mainvisual"
  .py-6
    .row.main
      .picts
        - @posts.each do |post|
          = render partial: "main", locals: { post: post }
    .pagenate
      = paginate(@posts, window: 2)
