.show-wrapper
  = render "header"
  .main-box
    = render "map"
    .card
      = image_tag @post.image.url

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"}
