.show-wrapper {
  background-image: image-url('wrapper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  .main-box {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 100px auto;
    .map {
      height: 400px;
      width: 400px;
    }
    .card {
      width: 400px;
      margin: auto 0;
      padding: 0.75rem 1.25rem;
      img{
        width: 100%;
      }
    }
  }
}
